@{
    ViewData["Title"] = "About";
}
<h2><strong>@ViewData["Title"]</strong></h2>
<h3>@ViewData["Message"]</h3>

<p>Mariana Rodrigues de Souza</p>
<p><strong>More informations, contact: </strong>@ViewData["Email"] </p>
